<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">

  <div class="d-flex justify-content-center mt-5">
    <h1>Toma Fotografía</h1>
  </div>
  
  <div class="container-personalizado ">
    <video #video autoplay ></video>
    <button *ngIf=" imageData == '' " (click)="capture()" class="btn btn-primary">Capturar Foto</button>
    <button *ngIf="imageData != '' " (click)="reiniciarValores()" class="btn btn-primary">Reiniciar</button>
    <canvas #canvas hidden></canvas>
  </div>
  <div>
    <span>Recorte del crooper</span>
    
    <image-cropper
    [imageURL]="imageData"
    [cropperStaticHeight]="altoDeLaHoja"
    [cropperStaticWidth]="anchoDeLaHoja"
    [alignImage]="'center'"
    (imageCropped)="imageCropped($event)">
  </image-cropper>
  
</div>
<div>
  <p>Imagen salida del crooper</p>
  <img [src]="imgSalida" [style.border]="imgSalida ? '1px solid black' : 'none'" />
</div>
</div>